* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
}
/* Esto es para utilizar rem sin perder la perspectiva de los pixeles */
html {
    font-size: 62.5%;
}