.container {
    display: flex;
    flex-direction: column;
    height: 88%;
}
/* Contenedor del logo de Google */
.container__logo {
    align-items: flex-end;
    display: flex;
    height: 35%;
    justify-content: center;
}
/* Contenedor que engloba el searchbar y los dos botones de debajo */
.container__searchbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20%;
}
/* Contenedor de los items del searchbar */
.container__searchbar-items {
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    display: flex;
    padding: 0 30px 0 0;
    min-width: 600px;
    width: 30%;
}
.container__searchbar-items:hover {
    border: 1px groove #a1a1a1;
}
.container__searchbar-items input {
    border: none;
    height: 45px;
    outline: none;
    padding-left: 15px;
    width: 100%;
}
.container__searchbar-items img {
    opacity: 0.3;
    padding-left: 15px;
    width: 32px;
}
/* Contenedor de los dos botones debajo del searchbar */
.container__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container__buttons input {
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    color: #202124;
    margin: 0 10px 0 10px;
    padding: 8px 12px;
}
.container__buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}
/* Contenedor del texto que se encuentra debajo de los dos botones */
.container__description {
    display: flex;
    height: 40%;
    justify-content: center;
}
.container__description span {
    font-size: 1.4rem;
    margin: 5px;
}
.container__description ul li {
    display: inline-flex;
    list-style: none;
    margin: 5px;
}
.container__description ul li a {
    color: #1a0dab;
    font-size: 1.4rem;
    text-decoration: none;
}
.container__description ul li a:hover {
    text-decoration: underline;
}
/* Contenedor del indicador del país desde el que buscas */
.container__country {
    align-items: center;
    background-color:#dadce0;
    display: flex;
    font-size: 1.6rem;
    height: 5%;
    opacity: 0.5;
    padding-left: 30px;
}
