.nav {
    display: flex;
    flex-direction: row-reverse;
    height: 10%;
}
.nav__list {
    align-items: center;
    display: flex;
    padding-right: 50px;
}
.nav__list li {
    display: inline-flex;
    list-style: none;
    padding: 15px;
}
.nav__list li a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav__list li a:nth-child(-n + 2):hover {
    text-decoration: underline;
}
.nav__list-grid {
    padding-top: 8px;
}
.nav__list-profile {
    border-radius: 50%;
    padding-top: 8px;
    width: 50px;
}